<!DOCTYPE html>
<title>Jog App</title>

<app ng-app="jogapp" ng-strict-di>
  <div id="main" class="container" ng-controller="RootController">
    <div ng-if="$location.path() !== '/login' && $location.path() !=='/registration'">
      <div class="row">
        <div class="col-xs-12 text-right">
          <Logout></Logout>
        </div>
      </div>
      <div>
        <ul class="nav nav-tabs col-xs-12" role="tablist">
          <li role="presentation" ng-class="{active: $location.path() === '/jogs'}"><a href="jogs" aria-controls="jogs" role="tab" data-toggle="tab">Jogs</a></li>
          <li role="presentation" ng-if="as.isAdmin() || as.isManager()" ng-class="{active: $location.path() === '/users'}"><a href="users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
          <li role="presentation" ng-class="{active: $location.path() === '/reports'}"><a href="reports" aria-controls="reports" role="tab" data-toggle="tab">Reports</a></li>
        </ul>
      </div>
    </div>
    <div ng-view></div>
    <flash-message duration="2000" class="pull-right col-xs-4"></flash-message>
  </div>
</app>

