<div ng-app="jogapp.report" ng-controller="ReportCtrl as vm">
  <div class="upper-spacing">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Year</th>
          <th>Week</th>
          <th>Average Distance (m)</th>
          <th>Average speed (Km/h)</th>
        </tr>
      </thead>
      <tbody ng-show="vm.reportsLoading">
        <tr>
          <td colspan="5" class="text-center">
            <h3><i class="fa fa-spinner fa-spin"></i>&nbsp;<strong>Loading...</strong>
            </h3>
          </td>
        </tr>
      </tbody>
      <tbody ng-hide="vm.reportsLoading" ng-init="vm.loadReports()">
        <tr ng-repeat="(week, report) in vm.reports">
          <td ng-bind="vm.showYear(week)"></td>
          <td ng-bind="vm.showWeek(week)"></td>
          <td ng-bind="report.average_distance"></td>
          <td ng-bind="report.average_speed"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

