<div id="registration-modal" role="dialog" ng-app="jogs.registration" ng-controller="registrationController as $ctrl">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Create an Account</h1><br>
      <form name="registrationForm">
        <input type="text" class="form-control"
                           ng-required="true"
                           placeholder="Username"
                           ng-model="registration.username" />
        <input type="text" class="form-control"
                           placeholder="Email"
                           ng-model="registration.email" />
        <input type="password" class="form-control"
                               ng-required="true"
                               placeholder="Password"
                               ng-model="registration.password1" />
        <input type="password" class="form-control"
                               ng-required="true"
                               placeholder="Password"
                               ng-model="registration.password2" />
        <input type="submit" class="login loginmodal-submit"
                             value="Sign Up"
                             ng-click="registrationForm.$valid && $ctrl.register(registration.username, registration.password1, registration.password2, registration.email)">
        <div class="alert alert-danger" ng-show="$ctrl.error">
          <p>Registration Failed:</p>
          <ul ng-repeat="e in $ctrl.error">
            <li>{{ e }}</li>
          </ul>
        </div>
      </form>

      <div class="login-help">
        <a href="login">Login</a>
      </div>
    </div>
  </div>
</div>

