<div id="login-modal" role="dialog" ng-app="jogs.login" ng-controller="UserCtrl as vm">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form name="loginForm">
        <input type="text" class="form-control"
                           id="inputUsername"
                           ng-required="true"
                           placeholder="Username"
                           ng-model="login.username" />
        <input type="password" class="form-control"
                               id="inputPassword"
                               ng-required="true"
                               placeholder="Password"
                                        ng-model="login.password" />
        <input type="submit" class="login loginmodal-submit"
                             value="Login"
                             ng-click="loginForm.$valid && vm.logIn(login.username, login.password)">
        <div class="alert alert-danger" ng-show="vm.error">
          <p>Login Failed:</p>
          <ul ng-repeat="e in vm.error">
            <li>{{ e }}</li>
          </ul>
        </div>
      </form>

      <div class="login-help">
        <a href="registration">Register</a>
      </div>
    </div>
  </div>
</div>
