<div>
  <span>Logged in as {{ $ctrl.username }}</span>
  <span ng-show="$ctrl.groups.length">({{ $ctrl.groups.join(", ") }})</span>
  <button class="btn btn-danger btn-xs" ng-click="$ctrl.logout()">Logout</button>
</div>
