<div ng-app="jogapp.users" ng-controller="UsersCtrl as vm">
  <div class="upper-spacing">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Group</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="vm.userListLoading">
        <tr>
          <td colspan="5" class="text-center">
            <h3><i class="fa fa-spinner fa-spin"></i>&nbsp;<strong>Loading...</strong>
            </h3>
          </td>
        </tr>
      </tbody>

      <tbody ng-hide="vm.userListLoading" ng-init="vm.initData()">
        <tr ng-repeat="user in vm.users track by $index">
          <td><span editable-text="user.username"
              e-name="username"
              e-form="rowform"
              onbeforesave="vm.validateField($data)"
              e-required
              ng-bind="user.username"
              ></span></td>
          <td><span editable-email="user.email"
              e-name="email"
              e-form="rowform"
              onbeforesave="vm.validateField($data)"
              e-required
              ng-bind="user.email"></span></td>
          <td><span
              editable-password="user.password"
              e-name="password"
              e-form="rowform"
              onbeforesave="vm.validatePassword($data, user.id)"
              >*******</span></td>
          <td><span
              editable-select="user.groups"
              onbeforesave="vm.validateGroup($data)"
              e-name="groups"
              e-form="rowform"
              e-ng-options="g.id as g.name for g in vm.groups"
              e-required
              ng-bind="user.groups[0]"
              ></span></td>

          <td>
            <form editable-form name="rowform" onbeforesave="vm.updateUser($index, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="vm.inserted == user">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
              <button class="btn btn-danger" ng-click="vm.removeUser($index)">del</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button class="btn btn-default" ng-click="vm.addUser()">Add User</button>
    </div>
  </div>
</div>

