<div ng-app="jogapp.jogs" ng-controller="JogsCtrl as vm">
  <div class="upper-spacing">
    <div class="row">
      <form class="form-inline col-xs-7" name="dateFilter">
        <div class="form-group">
          <label>From
            <input
              type="datetime-local"
              class="form-control"
              placeholder="YYYY-MM-DDTHH:mm:ss"
              ng-model="filter.start"
              />
          </label>
        </div>
        <div class="form-group">
          <label>To
            <input
              type="datetime-local"
              class="form-control"
              placeholder="YYYY-MM-DDTHH:mm:ss"
              ng-model="filter.end"
              />
          </label>
        </div>
        <button class="btn btn-default btn-sm" type="submit" ng-click="vm.getJogs(filter)">Filter</button>
      </form>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Start</th>
          <th>Duration (s)</th>
          <th>Distance (m)</th>
          <th>Average speed (Km/h)</th>
          <th ng-if="vm.as.isAdmin()">Owner</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="vm.jogListLoading">
        <tr>
          <td colspan="5" class="text-center">
            <h3><i class="fa fa-spinner fa-spin"></i>&nbsp;<strong>Loading...</strong>
            </h3>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="!vm.jogListLoading && !vm.jogs.length">
        <tr>
          <td colspan="5" class="text-center">
            <h3><strong>You have no jogs</strong></h3>
          </td>
        </tr>
      </tbody>
      <tbody ng-hide="vm.jogListLoading" ng-init="vm.initData()">
        <tr ng-repeat="jog in vm.jogs track by $index">
          <td><span
              editable-combodate="jog.start_time"
              e-name="start_time" e-form="rowform"
              onbeforesave="vm.validateField($data)"
              e-max-year="2025"
              e-required>{{ vm.displayTime(jog.start_time) }}</span></td>
          <td><span editable-number="jog.duration"
              e-name="duration"
              e-form="rowform"
              onbeforesave="vm.validateField($data)"
              e-required>{{ jog.duration }}</span></td>
          <td><span
              editable-number="jog.distance"
              e-name="distance"
              e-form="rowform"
              onbeforesave="vm.validateField($data)"
              e-required>{{ jog.distance }}</span></td>
          <td>{{ vm.displayAverageSpeed(jog) }}</td>
          <td ng-if="vm.as.isAdmin()"
              ><span
              editable-select="jog.owner"
              e-name="owner"
              e-form="rowform"
              e-ng-options="u.id as u.username for u in vm.users"
              e-required
              ng-bind="vm.usernames[jog.owner]"
              ></span></td>

          <td>
            <form editable-form name="rowform" onbeforesave="vm.updateJog($index, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="vm.inserted == jog">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
              <button class="btn btn-danger" ng-click="vm.removeJog($index)">del</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button class="btn btn-default" ng-click="vm.addJog()">Add Jog</button>
    </div>
  </div>
</div>

